*{
    padding: 0;
    margin: 0;
}
h3{
    font-size: 40px;
    font-weight: normal;
    padding: 40px;
}
#dis div{
    display: inline-block;
    width: 13%;
    height: 10px;
    margin-left: 8px;
    text-align: center;
    background-color: white;
}
#dis div:hover{
    background-color: white;
    color: black;
    cursor: default;
}
#dis{
    background-color: white;
    color: black;
    height: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.coisas div{
    display: inline-block;
    background-color: white;
    width: 14.21%;
    height: 60px;
    margin-left: 0px;
    text-align: center;
    vertical-align: 24px;
    vertical-align: middle;
}
.coisas div:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.esp{
    background-color: white;
    color: white;
}
.esp:hover{
    background-color: white;
    color: white;
    cursor: default;
}
section{
    max-width: 50%;
    margin: auto;
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;   
}
#normal{
    text-align: center;

}
